*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, hsl(318, 53%, 78%),#bd2b6f);
    padding: 10px;
}
.buttonBox {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.buttonBox button {
    width: 160px;
    height: 70x;
}
.todoApp{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin:100px auto 20px;
    padding: 40px 30px 70px;
    border-radius:10px;
}
.todoApp h2{
    color:#002765;
    display:flex;
    align-items: center;
    margin-bottom: 20px;
}
.todoApp h2 img{
    width:30px;
    margin-left:10px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    max-width: 80%;
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #1cde93;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 40px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    word-break: break-word; 
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
}

ul li.checked {
    color: #BD2B6F;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked2.png);
}

.icon-container {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    gap: 10px;
}

ul li span img {
    width: 22px;
    height: 22px;
    vertical-align: middle;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: #BD2B6F;
    cursor: pointer;
}
.edit-input {
    width: 100%;
    padding: 8px;
    font-size: 17px;
    box-sizing: border-box;
}
.description-span {
    max-width: 80%; 
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
